@charset "utf-8";

@import url("base.css");

/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/

body {
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    color: #000714;
}

body.fixed {
    overflow: hidden;
}

#sidebar {
    float: left;
    background: #D6E1F0;
    min-width: 225px;
    width: 15.6%;
    height: 100vh;
    box-shadow: 0 3px 10px -6px #b3b3b3;
}

#sidebar .logo {
    display: inline-block;
    margin-top: 32px;
    margin-left: 63px;
}

#sidebar .menu-sidebar {
    display: block;
    margin-top: 32px;
}

#sidebar .menu-sidebar li {
    margin-bottom: 8px;
}

#sidebar .menu-sidebar li a {
    display: block;
    vertical-align: middle;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 40px;
    color: #363636;
}

#sidebar .menu-sidebar li.active,
#sidebar .menu-sidebar li:hover {
    background: #213790;
    border-right: 4px solid #F39800;
}

#sidebar .menu-sidebar li.active a,
#sidebar .menu-sidebar li:hover a {
    color: #fff;
}

#sidebar .menu-sidebar li a span {
    position: relative;
    font-weight: 300;
    padding-left: 37px;
}

#sidebar .menu-sidebar li a span.icon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 22px;
    height: 22px;
}

#sidebar .menu-sidebar li a span.icon.icon-home:before {
    background-image: url(../images/common/icon-home.svg);
    /*    width: 20px;
    height: 18px;*/
    background-size: 20px, 18px;
}

#sidebar .menu-sidebar li a span.icon.icon-edit:before {
    background-image: url(../images/common/icon-edit.svg);
    /*    width: 20px;
    height: 18px;*/
    background-size: 20px, 18px;
}

#sidebar .menu-sidebar li a:hover span.icon.icon-edit:before {
    background-image: url(../images/common/icon-edit-hover.svg);
}

#sidebar .menu-sidebar li a span.icon.icon-note:before {
    top: 0px;
    background-image: url(../images/common/icon-note.svg);
    /*    width: 15px;
    height: 21px;*/
    background-size: 15px, 21px;
}

#sidebar .menu-sidebar li a:hover span.icon.icon-note:before {
    background-image: url(../images/common/icon-note-hover.svg);

}

#sidebar .menu-sidebar li a span.icon.icon-calc:before {
    background-image: url(../images/common/icon-calc.svg);
    /*    width: 15px;
    height: 21px;*/
    background-size: 18px, 21px;
    top: 0;
}


#sidebar .menu-sidebar li a:hover span.icon.icon-calc:before {
    background-image: url(../images/common/icon-calc-hover.svg);
}

#sidebar .menu-sidebar li a span.icon.icon-page:before {
    background-image: url(../images/common/icon-page.svg);
    /*    width: 15px;
    height: 21px;*/
    background-size: 15px, 21px;
    top: 0;
}

#sidebar .menu-sidebar li a:hover span.icon.icon-page:before {
    background-image: url(../images/common/icon-page-hover.svg);
}

#sidebar .menu-sidebar li a span.icon.icon-chart:before {
    background-image: url(../images/common/icon-chart.svg);
    /*    width: 20px;
    height: 21px;*/
    background-size: 20px, 21px;
}

#sidebar .menu-sidebar li a:hover span.icon.icon-chart:before {
    background-image: url(../images/common/icon-chart-hover.svg);
}

#sidebar .menu-sidebar li a span.icon.icon-mess:before {
    background-image: url(../images/common/icon-mess.svg);
    /*    width: 20px;
    height: 21px;*/
    background-size: 20px, 21px;
    top: 4px;
}

#sidebar .menu-sidebar li a:hover span.icon.icon-mess:before {
    background-image: url(../images/common/icon-mess-hover.svg);
}

#sidebar .menu-sidebar li a span.icon.icon-hook:before {
    background-image: url(../images/common/icon-hook.svg);
    /*    width: 22px;
    height: 21px;*/
    background-size: 20px, 21px;
    top: 0;
}

#sidebar .menu-sidebar li a:hover span.icon.icon-hook:before {
    background-image: url(../images/common/icon-hook-hover.svg);
}

#sidebar .menu-sidebar li a span.icon.icon-setting:before {
    background-image: url(../images/common/icon-setting.svg);
    /*    width: 20px;
    height: 21px;*/
    background-size: 19px, 21px;
    top: 0;
}

#sidebar .menu-sidebar li a:hover span.icon.icon-setting:before {
    background-image: url(../images/common/icon-setting-hover.svg);
}

#sidebar .menu-sidebar li a span.icon.icon-phone:before {
    background-image: url(../images/common/icon-phone.svg);
    /*    width: 20px;
    height: 21px;*/
    background-size: 20px, 21px;
    top: 0;
}

#sidebar .menu-sidebar li a:hover span.icon.icon-phone:before {
    background-image: url(../images/common/icon-phone-hover.svg);
}


#content {
    float: left;
    width: calc(100% - 15.6%);
    height: 100vh;
    background: #F4FAFF;
}

#wrapper {
    display: block;
    min-width: 1445px;
    height: 100vh;
    background: #F0F0F0;
}

#content .area {
    float: left;
    padding: 0 32px;
    width: 100%;
}

#content .area.areaFill {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #F0F0F0;
}

#content .area.areaFill .fillContent {
    float: left;
    width: 447px;
}

#content .area.areaFill .fillContent .fillDate {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

#content .area.areaFill .fillContent select.fillValue::-ms-expand {
    display: none;
}

#content .area.areaFill .fillContent .fillValue {
    width: 447px;
    margin-top: 16px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    padding: 18px 32px;
    font-family: Noto Sans JP;
    box-shadow: 0 3px 10px -6px #b3b3b3;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    font-weight: 300;
    background: #fff url(../images/common/icon-arrow-down.svg) no-repeat right 16px center;
    background-size: 15px 24px;
    color: #363636;
}

#content .area.areaFill .fillBlock {
    float: left;
    vertical-align: top;
    margin-left: 63px;
}

#content .area.areaFill .fillBlock .block {
    float: left;
    width: 192px;
    padding: 28px 20px 30px 20px;
    margin-right: 31px;
    color: #fff;
    border-radius: 4px;
}


#content .area.areaFill .fillBlock .block:last-child {
    margin-right: 0;
}

#content .area.areaFill .fillBlock .block.blockPrice {
    background: #213790;
}

#content .area.areaFill .fillBlock .block.blockPerson {
    background: #63AFDC;
}

#content .area.areaFill .fillBlock .block.blockUnit {
    background: #00A29A;
}

#content .area.areaFill .fillBlock .block .blockTitle {
    margin-left: 12px;
    font-weight: bold;
    position: relative;
    padding-left: 30px;
}

#content .area.areaFill .fillBlock .block.blockPerson .blockTitle:before {
    background-image: url(../images/common/icon-person.svg);
    width: 23px;
    height: 18px;
}

#content .area.areaFill .fillBlock .block.blockPerson .blockTitle {
    padding-left: 38px;
}

#content .area.areaFill .fillBlock .block.blockUnit .blockTitle:before {
    background-image: url(../images/common/icon-coin.svg);
    width: 18px;
    height: 18px;
}

#content .area.areaFill .fillBlock .block.blockPerson .blockTitle {
    padding-left: 34px;
}

#content .area.areaFill .fillBlock .block .blockTitle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/common/icon-yen.svg) no-repeat center;
    background-size: 100%;
    width: 14px;
    height: 18px;
}

#content .area.areaFill .fillBlock .block .blockTitle span {
    margin-right: 16px;
}

#content .area.areaFill .fillBlock .block .blockValue {
    margin-top: 10px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    font-family: Noto Sans JP;
}

#content .area.areaFill .fillBlock .block.blockPerson .blockValue span {
    font-size: 24px;
}

#content .area.areaContent {
    padding-top: 39px;
}

#content .area.areaContent .contentProg {
    overflow: hidden;
}

#content .area.areaContent .contentProg .progInfo {
    margin-left: 8px;
}

#content .area.areaContent .contentProg .progInfo li {
    display: inline-block;
    font-size: 16px;
    margin-right: 28px;
    font-weight: 300;
}

#content .area.areaContent .contentProg .progInfo li:first-child {
    font-size: 18px;
    font-weight: 500;
    margin-right: 43px;
}

#content .area.areaContent .contentProg .progInfo li span {
    display: inline-block;
    margin-top: 5px;
    margin-right: 7px;
    vertical-align: middle;
}

#content .area.areaContent .contentProg .progInfo li:first-child span {
    margin-right: 10px;
}

#content .area.areaContent .contentProg .progProgress {
    float: left;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

#content .area.areaContent .contentProg .progProgress span {
    float: left;
    text-align: center;
    padding: 12px 0;
}

#content .area.areaContent .contentProg .progProgress span.progress40 {
    background: #213790;
    width: 434px;
}

#content .area.areaContent .contentProg .progProgress span.progress50 {
    background: #63AFDC;
    width: 541px;
}

#content .area.areaContent .contentProg .progProgress span.progress10 {
    background: #00A29A;
    width: 173px;
}

#content .area.areaContent .contentNews {
    margin-top: 40px;
    overflow: hidden;
}

#content .area.areaContent .contentNews .blockNews {
    float: left;
    width: 553px;
}

#content .area.areaContent .contentNews .blockNews .infoTitle {
    background: url(../images/common/icon-info.svg) no-repeat left center;
    background-size: 18px 18px;
    margin-left: 8px;
    padding-left: 27px;
    font-size: 18px;
    font-weight: 500;
}

#content .area.areaContent .contentNews .blockNews .infoList {
    margin-top: 22px;
    padding-left: 7px;
}

#content .area.areaContent .contentNews .blockNews .infoList li {
    margin-bottom: 17px;
}

#content .area.areaContent .contentNews .blockNews .infoList li .datetime {
    display: block;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.5px;
    z-index: 4;
}

#content .area.areaContent .contentNews .blockNews .infoList li .datetime:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e2eaf5;
    z-index: -1;
}

#content .area.areaContent .contentNews .blockNews .infoList li span {
    background: #f4faff;
    padding-right: 5px;
    font-weight: 300;
}

#content .area.areaContent .contentNews .blockNews .infoList li a {
    display: block;
    margin-top: 9px;
    margin-left: -8px;
    font-size: 15px;
    font-weight: 300;
    color: #000714;
}

#content .area.areaContent .contentNews .blockNews .infoList li a:hover {
    text-decoration: underline;
}

#content .area.areaContent .contentNews .blockNews.newsSystem {
    margin-left: 35px;
}

#content .area.areaContent .contentNews .blockNews.newsSystem .infoTitle {
    background-image: url(../images/common/icon-bell.svg);
    background-size: 16px 18px;
}

@media (max-width: 1920px) {
    #wrapper {
        min-width: unset;
    }

    #content {
        /*width: 80%;*/
    }

    #content .area.areaFill {}

    #content .area.areaFill .fillContent {
        width: 39%;
    }

    #content .area.areaFill .fillContent .fillValue {
        width: 100%;
    }

    #content .area.areaFill .fillBlock {
        float: right;
        width: calc(100% - 44%);
        margin-left: unset;
    }

    #content .area.areaFill .fillBlock .block {
        width: 30%;
        margin-right: 3%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #content .area.areaFill .fillBlock .block .blockValue {
        font-size: 2.4vw;
    }

    #content .area.areaFill .fillBlock .block.blockPerson .blockValue span {
        font-size: 1.5vw;
    }

    #content .area.areaContent .contentProg .progProgress span.progress40 {
        width: 40%;
    }

    #content .area.areaContent .contentProg .progProgress span.progress50 {
        width: 50%;
    }

    #content .area.areaContent .contentProg .progProgress span.progress10 {
        width: 10%;
    }

    #content .area.areaContent .contentNews .blockNews {
        width: 48%;
    }

    #content .area.areaContent .contentNews .blockNews.newsSystem {
        margin-left: 3%;
    }

}

@media (max-width: 1450px) {
    #content {
        width: calc(100% - 230px);
    }

    #content .area.areaFill .fillContent {
        width: 32%;
    }

    #content .area.areaFill .fillContent .fillValue {
        font-size: 20px;
        padding: 3% 4%;
    }

    #content .area.areaFill .fillBlock {
        width: calc(100% - 40%);
    }

    #content .area.areaFill .fillBlock .block.blockPrice {
        /* width: 33%; */
        /* padding: 20px; */
    }

    #content .area.areaFill .fillBlock .block .blockTitle {
        font-size: 12px;
        padding-left: 25px;
    }

    #content .area.areaFill .fillBlock .block .blockTitle:before {
        width: 10px;
        height: 15px;
    }

    #content .area.areaFill .fillBlock .block {
        width: 31%;
        padding: 4%;
        margin-right: 2.5%;
    }
}

@media (max-width: 1140px) {
    #content .area.areaFill .fillContent {
        width: 33%;
    }

    #content .area.areaFill .fillContent .fillDate {
        margin-top: 10px;
    }

    #content .area.areaContent .contentNews .blockNews {
        width: 100%;
    }

    #content .area.areaContent .contentNews .blockNews.newsSystem {
        margin-left: 0;
    }

    #content .area.areaContent .contentProg .progInfo li:first-child,
    #content .area.areaContent .contentProg .progInfo li {
        margin-right: 3%;
    }

}

@media (max-width: 995px) {
    #content .area.areaContent .contentProg .progInfo li:first-child {
        margin-right: 3%;
    }

    #content .area.areaFill .fillBlock {
        width: 100%;
        margin-top: 20px;
    }

    #content .area.areaFill .fillContent {
        width: 60%;
    }


}